@keyframes dash{
  /*from{
    fill
  }*/
  to{
    stroke-dashoffset: 0;
  }
}
@keyframes str-op{
  to{
    stroke-opacity: 0
  }
}
@keyframes col{
  to{
    fill-opacity: 1;
  }
}
.path{
  fill: #F2A0DA;
  stroke-dasharray: 2450;
   stroke-dashoffset: 2450; 
   animation-name: dash, col, str-op;
  animation-duration: 2s, 500ms, 100ms;
  animation-delay: 0s, 1.9s, 1.9s;
  animation-fill-mode: forwards; 
  /* fill: url('#grad'); */
}
