.wrapper div:nth-child(1) {
  background-color: #9c52e3;
}

.wrapper div:nth-child(2) {
  background-color: #5b8236;
}

.wrapper div:nth-child(3) {
  background-color: #3a96b0;
}

.wrapper div:nth-child(4) {
  background-color: #ab95d1;
}

.wrapper div:nth-child(5) {
  background-color: #81e3d9;
}

.wrapper div:nth-child(6) {
  background-color: #9ccae2;
}

.wrapper div:nth-child(7) {
  background-color: #9c63b0;
}

.wrapper div:nth-child(8) {
  background-color: #665f7e;
}

.wrapper div:nth-child(9) {
  background-color: #f7d37b;
}

.wrapper div:nth-child(10) {
  background-color: #f472ce;
}

.wrapper div:nth-child(11) {
  background-color: #db3dde;
}

.wrapper div:nth-child(12) {
  background-color: #5cfce5;
}

.wrapper div:nth-child(13) {
  background-color: #2833f7;
}

.wrapper div:nth-child(14) {
  background-color: #ff7fd7;
}

.wrapper div:nth-child(15) {
  background-color: #1732e2;
}

.wrapper div:nth-child(16) {
  background-color: #f49026;
}

.wrapper div:nth-child(17) {
  background-color: #a5ffc1;
}

.wrapper div:nth-child(18) {
  background-color: #32dff9;
}

.wrapper div:nth-child(19) {
  background-color: #6ad8b1;
}

.wrapper div:nth-child(20) {
  background-color: #63becc;
}

.wrapper div:nth-child(21) {
  background-color: #bed7d9;
}

.wrapper div:nth-child(22) {
  background-color: #d4f0de;
}

.wrapper div:nth-child(23) {
  background-color: #024bee;
}

.wrapper div:nth-child(24) {
  background-color: #908409;
}

.wrapper div:nth-child(25) {
  background-color: #d9cfe7;
}

.wrapper div:nth-child(26) {
  background-color: #483419;
}

.wrapper div:nth-child(27) {
  background-color: #fe84cd;
}

.wrapper div:nth-child(28) {
  background-color: #ee1d7a;
}

.wrapper div:nth-child(29) {
  background-color: #b4a0d3;
}

.wrapper div:nth-child(30) {
  background-color: #b59938;
}

.wrapper div:nth-child(31) {
  background-color: #c33a5c;
}

.wrapper div:nth-child(32) {
  background-color: #23fb6b;
}

.wrapper div:nth-child(33) {
  background-color: #82c953;
}

.wrapper div:nth-child(34) {
  background-color: #51acff;
}

.wrapper div:nth-child(35) {
  background-color: #72030d;
}

.wrapper div:nth-child(36) {
  background-color: #f1b480;
}

.wrapper div:nth-child(37) {
  background-color: #c8c829;
}

.wrapper div:nth-child(38) {
  background-color: #f7d64c;
}

.wrapper div:nth-child(39) {
  background-color: #f4366c;
}

.wrapper div:nth-child(40) {
  background-color: #8a1df1;
}

.wrapper div:nth-child(41) {
  background-color: #347d55;
}

.wrapper div:nth-child(42) {
  background-color: #4bb03a;
}

.wrapper div:nth-child(43) {
  background-color: #7808fb;
}

.wrapper div:nth-child(44) {
  background-color: #605732;
}

.wrapper div:nth-child(45) {
  background-color: #50f442;
}

.wrapper div:nth-child(46) {
  background-color: #f3b649;
}

.wrapper div:nth-child(47) {
  background-color: #3bc253;
}

.wrapper div:nth-child(48) {
  background-color: #4622d1;
}

.wrapper div:nth-child(49) {
  background-color: #91c9e8;
}

.wrapper div:nth-child(50) {
  background-color: #c51a6b;
}

.wrapper div:nth-child(51) {
  background-color: #10dd74;
}

.wrapper div:nth-child(52) {
  background-color: #34c548;
}

.wrapper div:nth-child(53) {
  background-color: #34a0ed;
}

.wrapper div:nth-child(54) {
  background-color: #74c5ea;
}

.wrapper div:nth-child(55) {
  background-color: #eface9;
}

.wrapper div:nth-child(56) {
  background-color: #8cde79;
}

.wrapper div:nth-child(57) {
  background-color: #3137ff;
}

.wrapper div:nth-child(58) {
  background-color: #86cd93;
}

.wrapper div:nth-child(59) {
  background-color: #90dd13;
}

.wrapper div:nth-child(60) {
  background-color: #2d25e8;
}

.wrapper div:nth-child(61) {
  background-color: #a812ed;
}

.wrapper div:nth-child(62) {
  background-color: #164e34;
}

.wrapper div:nth-child(63) {
  background-color: #c253f2;
}

.wrapper div:nth-child(64) {
  background-color: #a5b449;
}

.wrapper div:nth-child(65) {
  background-color: #88e6d6;
}

.wrapper div:nth-child(66) {
  background-color: #e23531;
}

.wrapper div:nth-child(67) {
  background-color: #34b9ea;
}

.wrapper div:nth-child(68) {
  background-color: #db4276;
}

.wrapper div:nth-child(69) {
  background-color: #c77027;
}

.wrapper div:nth-child(70) {
  background-color: #0bfe3f;
}

.wrapper div:nth-child(71) {
  background-color: #8b74f1;
}

.wrapper div:nth-child(72) {
  background-color: #584367;
}

.wrapper div:nth-child(73) {
  background-color: #56014c;
}

.wrapper div:nth-child(74) {
  background-color: #893047;
}

.wrapper div:nth-child(75) {
  background-color: #1b4abf;
}

.wrapper div:nth-child(76) {
  background-color: #5617f6;
}

.wrapper div:nth-child(77) {
  background-color: #f7756f;
}

.wrapper div:nth-child(78) {
  background-color: #10b3ea;
}

.wrapper div:nth-child(79) {
  background-color: #9b2231;
}

.wrapper div:nth-child(80) {
  background-color: #2b0cad;
}

.wrapper div:nth-child(81) {
  background-color: #515eea;
}

.wrapper div:nth-child(82) {
  background-color: #b6e853;
}

.wrapper div:nth-child(83) {
  background-color: #397c71;
}

.wrapper div:nth-child(84) {
  background-color: #159705;
}

.wrapper div:nth-child(85) {
  background-color: #696ee5;
}

.wrapper div:nth-child(86) {
  background-color: #8b5b76;
}

.wrapper div:nth-child(87) {
  background-color: #a84af3;
}

.wrapper div:nth-child(88) {
  background-color: #631ab9;
}

.wrapper div:nth-child(89) {
  background-color: #9fcb62;
}

.wrapper div:nth-child(90) {
  background-color: #663547;
}

.wrapper div:nth-child(91) {
  background-color: #83f984;
}

.wrapper div:nth-child(92) {
  background-color: #7061f9;
}

.wrapper div:nth-child(93) {
  background-color: #47e851;
}

.wrapper div:nth-child(94) {
  background-color: #6a1edd;
}

.wrapper div:nth-child(95) {
  background-color: #fafd57;
}

.wrapper div:nth-child(96) {
  background-color: #fc8950;
}

.wrapper div:nth-child(97) {
  background-color: #f9acfd;
}

.wrapper div:nth-child(98) {
  background-color: #d02739;
}

.wrapper div:nth-child(99) {
  background-color: #925d04;
}

.wrapper div:nth-child(100) {
  background-color: #154643;
}

.wrapper div:nth-child(101) {
  background-color: #c8a3e6;
}

.wrapper div:nth-child(102) {
  background-color: #408be3;
}

.wrapper div:nth-child(103) {
  background-color: #46fa34;
}

.wrapper div:nth-child(104) {
  background-color: #3d5e57;
}

.wrapper div:nth-child(105) {
  background-color: #61cffc;
}

.wrapper div:nth-child(106) {
  background-color: #8d947d;
}

.wrapper div:nth-child(107) {
  background-color: #773f8d;
}

.wrapper div:nth-child(108) {
  background-color: #90d5b7;
}

.wrapper div:nth-child(109) {
  background-color: #3b108f;
}

.wrapper div:nth-child(110) {
  background-color: #644a04;
}

.wrapper div:nth-child(111) {
  background-color: #75216d;
}

.wrapper div:nth-child(112) {
  background-color: #d52f82;
}

.wrapper div:nth-child(113) {
  background-color: #60df5d;
}

.wrapper div:nth-child(114) {
  background-color: #3c5ff3;
}

.wrapper div:nth-child(115) {
  background-color: #3ed5d5;
}

.wrapper div:nth-child(116) {
  background-color: #e0a308;
}

.wrapper div:nth-child(117) {
  background-color: #966be4;
}

.wrapper div:nth-child(118) {
  background-color: #1da59a;
}

.wrapper div:nth-child(119) {
  background-color: #2ed211;
}

.wrapper div:nth-child(120) {
  background-color: #e7f1dd;
}

.wrapper div:nth-child(121) {
  background-color: #e4845b;
}

.wrapper div:nth-child(122) {
  background-color: #cf8b07;
}

.wrapper div:nth-child(123) {
  background-color: #a9ddab;
}

.wrapper div:nth-child(124) {
  background-color: #ed5008;
}

.wrapper div:nth-child(125) {
  background-color: #201824;
}

.wrapper div:nth-child(126) {
  background-color: #8f41d5;
}

.wrapper div:nth-child(127) {
  background-color: #95bcf6;
}

.wrapper div:nth-child(128) {
  background-color: #18403b;
}

.wrapper div:nth-child(129) {
  background-color: #31f7d7;
}

.wrapper div:nth-child(130) {
  background-color: #a298d0;
}

.wrapper div:nth-child(131) {
  background-color: #25e212;
}

.wrapper div:nth-child(132) {
  background-color: #f77678;
}

.wrapper div:nth-child(133) {
  background-color: #0fcc69;
}

.wrapper div:nth-child(134) {
  background-color: #833909;
}

.wrapper div:nth-child(135) {
  background-color: #fd6c43;
}

.wrapper div:nth-child(136) {
  background-color: #4b72eb;
}

.wrapper div:nth-child(137) {
  background-color: #0c0cec;
}

.wrapper div:nth-child(138) {
  background-color: #ad9b65;
}

.wrapper div:nth-child(139) {
  background-color: #4d1c16;
}

.wrapper div:nth-child(140) {
  background-color: #9d419a;
}

.wrapper div:nth-child(141) {
  background-color: #be8631;
}

.wrapper div:nth-child(142) {
  background-color: #8f0265;
}

.wrapper div:nth-child(143) {
  background-color: #ec1291;
}

.wrapper div:nth-child(144) {
  background-color: #7f374e;
}

.wrapper div:nth-child(145) {
  background-color: #3b26ab;
}

.wrapper div:nth-child(146) {
  background-color: #680533;
}

.wrapper div:nth-child(147) {
  background-color: #085e54;
}

.wrapper div:nth-child(148) {
  background-color: #cef73d;
}

.wrapper div:nth-child(149) {
  background-color: #f4037e;
}

.wrapper div:nth-child(150) {
  background-color: #88c684;
}

.wrapper div:nth-child(151) {
  background-color: #d5f6b4;
}

.wrapper div:nth-child(152) {
  background-color: #9a9d56;
}

.wrapper div:nth-child(153) {
  background-color: #8f3962;
}

.wrapper div:nth-child(154) {
  background-color: #d61596;
}

.wrapper div:nth-child(155) {
  background-color: #41ee39;
}

.wrapper div:nth-child(156) {
  background-color: #0b1a25;
}

.wrapper div:nth-child(157) {
  background-color: #a71e74;
}

.wrapper div:nth-child(158) {
  background-color: #8cd54c;
}

.wrapper div:nth-child(159) {
  background-color: #b75e30;
}

.wrapper div:nth-child(160) {
  background-color: #7fe2cf;
}

.wrapper div:nth-child(161) {
  background-color: #da2583;
}

.wrapper div:nth-child(162) {
  background-color: #43524b;
}

.wrapper div:nth-child(163) {
  background-color: #fc3ec4;
}

.wrapper div:nth-child(164) {
  background-color: #4280d9;
}

.wrapper div:nth-child(165) {
  background-color: #0a34b8;
}

.wrapper div:nth-child(166) {
  background-color: #4c04ac;
}

.wrapper div:nth-child(167) {
  background-color: #b6eef3;
}

.wrapper div:nth-child(168) {
  background-color: #43d9b4;
}

.wrapper div:nth-child(169) {
  background-color: #af0f66;
}

.wrapper div:nth-child(170) {
  background-color: #d56be0;
}

.wrapper div:nth-child(171) {
  background-color: #c01276;
}

.wrapper div:nth-child(172) {
  background-color: #0f533a;
}

.wrapper div:nth-child(173) {
  background-color: #a9f017;
}

.wrapper div:nth-child(174) {
  background-color: #46f135;
}

.wrapper div:nth-child(175) {
  background-color: #5ee8c4;
}

.wrapper div:nth-child(176) {
  background-color: #7066c8;
}

.wrapper div:nth-child(177) {
  background-color: #88d86b;
}

.wrapper div:nth-child(178) {
  background-color: #c2d031;
}

.wrapper div:nth-child(179) {
  background-color: #6ffd50;
}

.wrapper div:nth-child(180) {
  background-color: #ab3b44;
}

.wrapper div:nth-child(181) {
  background-color: #17a325;
}

.wrapper div:nth-child(182) {
  background-color: #cc3f05;
}

.wrapper div:nth-child(183) {
  background-color: #88c53e;
}

.wrapper div:nth-child(184) {
  background-color: #4afdac;
}

.wrapper div:nth-child(185) {
  background-color: #372e5f;
}

.wrapper div:nth-child(186) {
  background-color: #660308;
}

.wrapper div:nth-child(187) {
  background-color: #e1c5e4;
}

.wrapper div:nth-child(188) {
  background-color: #973dbf;
}

.wrapper div:nth-child(189) {
  background-color: #e97170;
}

.wrapper div:nth-child(190) {
  background-color: #915d04;
}

.wrapper div:nth-child(191) {
  background-color: #e07b56;
}

.wrapper div:nth-child(192) {
  background-color: #13f562;
}

.wrapper div:nth-child(193) {
  background-color: #0469cd;
}

.wrapper div:nth-child(194) {
  background-color: #963391;
}

.wrapper div:nth-child(195) {
  background-color: #7d145f;
}

.wrapper div:nth-child(196) {
  background-color: #af253b;
}

.wrapper div:nth-child(197) {
  background-color: #892eca;
}

.wrapper div:nth-child(198) {
  background-color: #5b2b35;
}

.wrapper div:nth-child(199) {
  background-color: #b34ac3;
}

.wrapper div:nth-child(200) {
  background-color: #5546a9;
}

.wrapper div:nth-child(201) {
  background-color: #d16ec1;
}

.wrapper div:nth-child(202) {
  background-color: #f7e399;
}

.wrapper div:nth-child(203) {
  background-color: #377750;
}

.wrapper div:nth-child(204) {
  background-color: #26d5b3;
}

.wrapper div:nth-child(205) {
  background-color: #a431f2;
}

.wrapper div:nth-child(206) {
  background-color: #f1d344;
}

.wrapper div:nth-child(207) {
  background-color: #9a5383;
}

.wrapper div:nth-child(208) {
  background-color: #783608;
}

.wrapper div:nth-child(209) {
  background-color: #83818a;
}

.wrapper div:nth-child(210) {
  background-color: #50c6a6;
}

.wrapper div:nth-child(211) {
  background-color: #e32492;
}

.wrapper div:nth-child(212) {
  background-color: #4a8268;
}

.wrapper div:nth-child(213) {
  background-color: #0add29;
}

.wrapper div:nth-child(214) {
  background-color: #145425;
}

.wrapper div:nth-child(215) {
  background-color: #0315ca;
}

.wrapper div:nth-child(216) {
  background-color: #5e6a17;
}

.wrapper div:nth-child(217) {
  background-color: #3fe8c8;
}

.wrapper div:nth-child(218) {
  background-color: #71fa6b;
}

.wrapper div:nth-child(219) {
  background-color: #d7f170;
}

.wrapper div:nth-child(220) {
  background-color: #a79a01;
}

.wrapper div:nth-child(221) {
  background-color: #487b3b;
}

.wrapper div:nth-child(222) {
  background-color: #ebce11;
}

.wrapper div:nth-child(223) {
  background-color: #960f7b;
}

.wrapper div:nth-child(224) {
  background-color: #b352e7;
}

.wrapper div:nth-child(225) {
  background-color: #e5a44d;
}

.wrapper div:nth-child(226) {
  background-color: #f4e884;
}

.wrapper div:nth-child(227) {
  background-color: #dc0882;
}

.wrapper div:nth-child(228) {
  background-color: #bde64e;
}

.wrapper div:nth-child(229) {
  background-color: #e871c6;
}

.wrapper div:nth-child(230) {
  background-color: #d9ee1d;
}

.wrapper div:nth-child(231) {
  background-color: #a1d2d3;
}

.wrapper div:nth-child(232) {
  background-color: #b5a7d1;
}

.wrapper div:nth-child(233) {
  background-color: #a77940;
}

.wrapper div:nth-child(234) {
  background-color: #31c511;
}

.wrapper div:nth-child(235) {
  background-color: #b81882;
}

.wrapper div:nth-child(236) {
  background-color: #cdc182;
}

.wrapper div:nth-child(237) {
  background-color: #4a6e37;
}

.wrapper div:nth-child(238) {
  background-color: #52b877;
}

.wrapper div:nth-child(239) {
  background-color: #7361a2;
}

.wrapper div:nth-child(240) {
  background-color: #102f26;
}

.wrapper div:nth-child(241) {
  background-color: #cd361b;
}

.wrapper div:nth-child(242) {
  background-color: #9542c0;
}

.wrapper div:nth-child(243) {
  background-color: #d23989;
}

.wrapper div:nth-child(244) {
  background-color: #7be790;
}

.wrapper div:nth-child(245) {
  background-color: #e057da;
}

.wrapper div:nth-child(246) {
  background-color: #63db99;
}

.wrapper div:nth-child(247) {
  background-color: #03242c;
}

.wrapper div:nth-child(248) {
  background-color: #315bd6;
}

.wrapper div:nth-child(249) {
  background-color: #3d2b3a;
}

.wrapper div:nth-child(250) {
  background-color: #9cf33a;
}

.wrapper div:nth-child(251) {
  background-color: #debbb4;
}

.wrapper div:nth-child(252) {
  background-color: #21a8f6;
}

.wrapper div:nth-child(253) {
  background-color: #c20fbb;
}

.wrapper div:nth-child(254) {
  background-color: #c446b5;
}

.wrapper div:nth-child(255) {
  background-color: #25dab2;
}

.wrapper div:nth-child(256) {
  background-color: #39e83b;
}

.wrapper div:nth-child(257) {
  background-color: #a33752;
}

.wrapper div:nth-child(258) {
  background-color: #3dc945;
}

.wrapper div:nth-child(259) {
  background-color: #5a3cbe;
}

.wrapper div:nth-child(260) {
  background-color: #c641dd;
}

.wrapper div:nth-child(261) {
  background-color: #dea17f;
}

.wrapper div:nth-child(262) {
  background-color: #cf0d04;
}

.wrapper div:nth-child(263) {
  background-color: #d6712a;
}

.wrapper div:nth-child(264) {
  background-color: #136aa2;
}

.wrapper div:nth-child(265) {
  background-color: #c13bbb;
}

.wrapper div:nth-child(266) {
  background-color: #5d99ff;
}

.wrapper div:nth-child(267) {
  background-color: #2f0d0c;
}

.wrapper div:nth-child(268) {
  background-color: #cd91a3;
}

.wrapper div:nth-child(269) {
  background-color: #226fdf;
}

.wrapper div:nth-child(270) {
  background-color: #d01686;
}

.wrapper div:nth-child(271) {
  background-color: #8af421;
}

.wrapper div:nth-child(272) {
  background-color: #55c447;
}

.wrapper div:nth-child(273) {
  background-color: #6687ca;
}

.wrapper div:nth-child(274) {
  background-color: #be03ce;
}

.wrapper div:nth-child(275) {
  background-color: #5936fa;
}

.wrapper div:nth-child(276) {
  background-color: #d014e4;
}

.wrapper div:nth-child(277) {
  background-color: #0da205;
}

.wrapper div:nth-child(278) {
  background-color: #591a30;
}

.wrapper div:nth-child(279) {
  background-color: #2bcae2;
}

.wrapper div:nth-child(280) {
  background-color: #fa8d2c;
}

.wrapper div:nth-child(281) {
  background-color: #8fdb96;
}

.wrapper div:nth-child(282) {
  background-color: #1b2cc8;
}

.wrapper div:nth-child(283) {
  background-color: #37a829;
}

.wrapper div:nth-child(284) {
  background-color: #b9830a;
}

.wrapper div:nth-child(285) {
  background-color: #3d81ae;
}

.wrapper div:nth-child(286) {
  background-color: #6c3925;
}

.wrapper div:nth-child(287) {
  background-color: #e41c40;
}

.wrapper div:nth-child(288) {
  background-color: #c9566d;
}

.wrapper div:nth-child(289) {
  background-color: #21930c;
}

.wrapper div:nth-child(290) {
  background-color: #0a1387;
}

.wrapper div:nth-child(291) {
  background-color: #1f17da;
}

.wrapper div:nth-child(292) {
  background-color: #194229;
}

.wrapper div:nth-child(293) {
  background-color: #3cafdd;
}

.wrapper div:nth-child(294) {
  background-color: #9fc893;
}

.wrapper div:nth-child(295) {
  background-color: #624cf4;
}

.wrapper div:nth-child(296) {
  background-color: #45d258;
}

.wrapper div:nth-child(297) {
  background-color: #267d47;
}

.wrapper div:nth-child(298) {
  background-color: #f765f4;
}

.wrapper div:nth-child(299) {
  background-color: #59da67;
}

.wrapper div:nth-child(300) {
  background-color: #7c5bf0;
}

.wrapper div:nth-child(301) {
  background-color: #948ff8;
}

.wrapper div:nth-child(302) {
  background-color: #075a29;
}

.wrapper div:nth-child(303) {
  background-color: #63f1e6;
}

.wrapper div:nth-child(304) {
  background-color: #a16edb;
}

.wrapper div:nth-child(305) {
  background-color: #9634b9;
}

.wrapper div:nth-child(306) {
  background-color: #a9ed6b;
}

.wrapper div:nth-child(307) {
  background-color: #cf8ab2;
}

.wrapper div:nth-child(308) {
  background-color: #e43e0b;
}

.wrapper div:nth-child(309) {
  background-color: #7454b0;
}

.wrapper div:nth-child(310) {
  background-color: #9c2e55;
}

.wrapper div:nth-child(311) {
  background-color: #fe5984;
}

.wrapper div:nth-child(312) {
  background-color: #bd2c04;
}

.wrapper div:nth-child(313) {
  background-color: #173833;
}

.wrapper div:nth-child(314) {
  background-color: #6ab854;
}

.wrapper div:nth-child(315) {
  background-color: #8f7309;
}

.wrapper div:nth-child(316) {
  background-color: #7eb4bb;
}

.wrapper div:nth-child(317) {
  background-color: #535141;
}

.wrapper div:nth-child(318) {
  background-color: #b0e777;
}

.wrapper div:nth-child(319) {
  background-color: #8fa470;
}

.wrapper div:nth-child(320) {
  background-color: #308176;
}

.wrapper div:nth-child(321) {
  background-color: #d728fb;
}

.wrapper div:nth-child(322) {
  background-color: #d1e0ff;
}

.wrapper div:nth-child(323) {
  background-color: #424fb8;
}

.wrapper div:nth-child(324) {
  background-color: #6172a1;
}

.wrapper div:nth-child(325) {
  background-color: #264ea3;
}

.wrapper div:nth-child(326) {
  background-color: #f802e2;
}

.wrapper div:nth-child(327) {
  background-color: #ffeaaa;
}

.wrapper div:nth-child(328) {
  background-color: #791af4;
}

.wrapper div:nth-child(329) {
  background-color: #674563;
}

.wrapper div:nth-child(330) {
  background-color: #9edfa4;
}

.wrapper div:nth-child(331) {
  background-color: #f0e242;
}

.wrapper div:nth-child(332) {
  background-color: #2bfcdf;
}

.wrapper div:nth-child(333) {
  background-color: #3c7ca1;
}

.wrapper div:nth-child(334) {
  background-color: #88e6a9;
}

.wrapper div:nth-child(335) {
  background-color: #ed9d13;
}

.wrapper div:nth-child(336) {
  background-color: #1bfd6f;
}

.wrapper div:nth-child(337) {
  background-color: #e033a3;
}

.wrapper div:nth-child(338) {
  background-color: #2adee7;
}

.wrapper div:nth-child(339) {
  background-color: #8816fa;
}

.wrapper div:nth-child(340) {
  background-color: #5b123f;
}

.wrapper div:nth-child(341) {
  background-color: #dee896;
}

.wrapper div:nth-child(342) {
  background-color: #c747a4;
}

.wrapper div:nth-child(343) {
  background-color: #0e4754;
}

.wrapper div:nth-child(344) {
  background-color: #61a970;
}

.wrapper div:nth-child(345) {
  background-color: #8a9b41;
}

.wrapper div:nth-child(346) {
  background-color: #46a948;
}

.wrapper div:nth-child(347) {
  background-color: #766cb3;
}

.wrapper div:nth-child(348) {
  background-color: #e326c2;
}

.wrapper div:nth-child(349) {
  background-color: #5ab65d;
}

.wrapper div:nth-child(350) {
  background-color: #2092d7;
}

.wrapper div:nth-child(351) {
  background-color: #f82c12;
}

.wrapper div:nth-child(352) {
  background-color: #161c35;
}

.wrapper div:nth-child(353) {
  background-color: #64d308;
}

.wrapper div:nth-child(354) {
  background-color: #f2f9ce;
}

.wrapper div:nth-child(355) {
  background-color: #41647c;
}

.wrapper div:nth-child(356) {
  background-color: #bd23d7;
}

.wrapper div:nth-child(357) {
  background-color: #d95265;
}

.wrapper div:nth-child(358) {
  background-color: #0d0f95;
}

.wrapper div:nth-child(359) {
  background-color: #ef539e;
}

.wrapper div:nth-child(360) {
  background-color: #98bbdb;
}

.wrapper div:nth-child(361) {
  background-color: #b1f749;
}

.wrapper div:nth-child(362) {
  background-color: #fe7a1a;
}

.wrapper div:nth-child(363) {
  background-color: #b68f68;
}

.wrapper div:nth-child(364) {
  background-color: #9be86d;
}

.wrapper div:nth-child(365) {
  background-color: #94237a;
}

.wrapper div:nth-child(366) {
  background-color: #ba826c;
}

.wrapper div:nth-child(367) {
  background-color: #26d641;
}

.wrapper div:nth-child(368) {
  background-color: #a7c11d;
}

.wrapper div:nth-child(369) {
  background-color: #9a8b94;
}

.wrapper div:nth-child(370) {
  background-color: #7a3b80;
}

.wrapper div:nth-child(371) {
  background-color: #cefca7;
}

.wrapper div:nth-child(372) {
  background-color: #5db70b;
}

.wrapper div:nth-child(373) {
  background-color: #362994;
}

.wrapper div:nth-child(374) {
  background-color: #282e32;
}

.wrapper div:nth-child(375) {
  background-color: #9347d7;
}

.wrapper div:nth-child(376) {
  background-color: #19dffc;
}

.wrapper div:nth-child(377) {
  background-color: #9904a8;
}

.wrapper div:nth-child(378) {
  background-color: #030c2f;
}

.wrapper div:nth-child(379) {
  background-color: #cd99d4;
}

.wrapper div:nth-child(380) {
  background-color: #42171f;
}

.wrapper div:nth-child(381) {
  background-color: #8c1764;
}

.wrapper div:nth-child(382) {
  background-color: #ef96f4;
}

.wrapper div:nth-child(383) {
  background-color: #348ea9;
}

.wrapper div:nth-child(384) {
  background-color: #2bb24a;
}

.wrapper div:nth-child(385) {
  background-color: #b10de8;
}

.wrapper div:nth-child(386) {
  background-color: #7e5116;
}

.wrapper div:nth-child(387) {
  background-color: #298dba;
}

.wrapper div:nth-child(388) {
  background-color: #4ba46f;
}

.wrapper div:nth-child(389) {
  background-color: #46a68b;
}

.wrapper div:nth-child(390) {
  background-color: #779957;
}

.wrapper div:nth-child(391) {
  background-color: #447349;
}

.wrapper div:nth-child(392) {
  background-color: #d2c42c;
}

.wrapper div:nth-child(393) {
  background-color: #ba4c9b;
}

.wrapper div:nth-child(394) {
  background-color: #3d9713;
}

.wrapper div:nth-child(395) {
  background-color: #68a1b9;
}

.wrapper div:nth-child(396) {
  background-color: #13d858;
}

.wrapper div:nth-child(397) {
  background-color: #be12c3;
}

.wrapper div:nth-child(398) {
  background-color: #60522b;
}

.wrapper div:nth-child(399) {
  background-color: #75d819;
}

.wrapper div:nth-child(400) {
  background-color: #41a76d;
}

.wrapper div:nth-child(401) {
  background-color: #30ba73;
}

.wrapper div:nth-child(402) {
  background-color: #af094b;
}

.wrapper div:nth-child(403) {
  background-color: #64bda9;
}

.wrapper div:nth-child(404) {
  background-color: #30aff6;
}

.wrapper div:nth-child(405) {
  background-color: #ba16c5;
}

.wrapper div:nth-child(406) {
  background-color: #0b37fd;
}

.wrapper div:nth-child(407) {
  background-color: #9b8afa;
}

.wrapper div:nth-child(408) {
  background-color: #add171;
}

.wrapper div:nth-child(409) {
  background-color: #9b4ede;
}

.wrapper div:nth-child(410) {
  background-color: #6902e0;
}

.wrapper div:nth-child(411) {
  background-color: #a20e88;
}

.wrapper div:nth-child(412) {
  background-color: #983b3b;
}

.wrapper div:nth-child(413) {
  background-color: #52954f;
}

.wrapper div:nth-child(414) {
  background-color: #2106c2;
}

.wrapper div:nth-child(415) {
  background-color: #0861fa;
}

.wrapper div:nth-child(416) {
  background-color: #01527e;
}

.wrapper div:nth-child(417) {
  background-color: #f15dcc;
}

.wrapper div:nth-child(418) {
  background-color: #09c3e4;
}

.wrapper div:nth-child(419) {
  background-color: #d5f981;
}

.wrapper div:nth-child(420) {
  background-color: #218ddb;
}

.wrapper div:nth-child(421) {
  background-color: #aaebd3;
}

.wrapper div:nth-child(422) {
  background-color: #37bc29;
}

.wrapper div:nth-child(423) {
  background-color: #29d2b8;
}

.wrapper div:nth-child(424) {
  background-color: #ec9b0a;
}

.wrapper div:nth-child(425) {
  background-color: #bd5e69;
}

.wrapper div:nth-child(426) {
  background-color: #1c3e75;
}

.wrapper div:nth-child(427) {
  background-color: #b21c97;
}

.wrapper div:nth-child(428) {
  background-color: #66168d;
}

.wrapper div:nth-child(429) {
  background-color: #8b3593;
}

.wrapper div:nth-child(430) {
  background-color: #cc089c;
}

.wrapper div:nth-child(431) {
  background-color: #c5811b;
}

.wrapper div:nth-child(432) {
  background-color: #0e435e;
}

.wrapper div:nth-child(433) {
  background-color: #e8b8c4;
}

.wrapper div:nth-child(434) {
  background-color: #802a4f;
}

.wrapper div:nth-child(435) {
  background-color: #901b2f;
}

.wrapper div:nth-child(436) {
  background-color: #1e2588;
}

.wrapper div:nth-child(437) {
  background-color: #546f20;
}

.wrapper div:nth-child(438) {
  background-color: #56f764;
}

.wrapper div:nth-child(439) {
  background-color: #eabb47;
}

.wrapper div:nth-child(440) {
  background-color: #a2e43d;
}

.wrapper div:nth-child(441) {
  background-color: #affeb1;
}

.wrapper div:nth-child(442) {
  background-color: #51b311;
}

.wrapper div:nth-child(443) {
  background-color: #856b9c;
}

.wrapper div:nth-child(444) {
  background-color: #97c70d;
}

.wrapper div:nth-child(445) {
  background-color: #a43718;
}

.wrapper div:nth-child(446) {
  background-color: #b9b17d;
}

.wrapper div:nth-child(447) {
  background-color: #38645f;
}

.wrapper div:nth-child(448) {
  background-color: #2304f6;
}

.wrapper div:nth-child(449) {
  background-color: #bfd8f1;
}

.wrapper div:nth-child(450) {
  background-color: #f83db2;
}

.wrapper div:nth-child(451) {
  background-color: #07587e;
}

.wrapper div:nth-child(452) {
  background-color: #e2e04a;
}

.wrapper div:nth-child(453) {
  background-color: #eb8161;
}

.wrapper div:nth-child(454) {
  background-color: #9e1e05;
}

.wrapper div:nth-child(455) {
  background-color: #69ee76;
}

.wrapper div:nth-child(456) {
  background-color: #fb4a22;
}

.wrapper div:nth-child(457) {
  background-color: #d1ba9d;
}

.wrapper div:nth-child(458) {
  background-color: #4c12ff;
}

.wrapper div:nth-child(459) {
  background-color: #f64058;
}

.wrapper div:nth-child(460) {
  background-color: #774e14;
}

.wrapper div:nth-child(461) {
  background-color: #a5ddfb;
}

.wrapper div:nth-child(462) {
  background-color: #1dd663;
}

.wrapper div:nth-child(463) {
  background-color: #b6bd4e;
}

.wrapper div:nth-child(464) {
  background-color: #ec2659;
}

.wrapper div:nth-child(465) {
  background-color: #93cb1c;
}

.wrapper div:nth-child(466) {
  background-color: #3a4a37;
}

.wrapper div:nth-child(467) {
  background-color: #b585c8;
}

.wrapper div:nth-child(468) {
  background-color: #41e1e6;
}

.wrapper div:nth-child(469) {
  background-color: #d2771b;
}

.wrapper div:nth-child(470) {
  background-color: #6a0402;
}

.wrapper div:nth-child(471) {
  background-color: #98effa;
}

.wrapper div:nth-child(472) {
  background-color: #9024d5;
}

.wrapper div:nth-child(473) {
  background-color: #9ed5d3;
}

.wrapper div:nth-child(474) {
  background-color: #972679;
}

.wrapper div:nth-child(475) {
  background-color: #9dccc4;
}

.wrapper div:nth-child(476) {
  background-color: #1830ff;
}

.wrapper div:nth-child(477) {
  background-color: #c6978b;
}

.wrapper div:nth-child(478) {
  background-color: #7485d8;
}

.wrapper div:nth-child(479) {
  background-color: #d8f7de;
}

.wrapper div:nth-child(480) {
  background-color: #040312;
}

.wrapper div:nth-child(481) {
  background-color: #2f6ad7;
}

.wrapper div:nth-child(482) {
  background-color: #93ea60;
}

.wrapper div:nth-child(483) {
  background-color: #4fafa7;
}

.wrapper div:nth-child(484) {
  background-color: #230e8f;
}

.wrapper div:nth-child(485) {
  background-color: #f92a07;
}

.wrapper div:nth-child(486) {
  background-color: #b44abc;
}

.wrapper div:nth-child(487) {
  background-color: #3d2669;
}

.wrapper div:nth-child(488) {
  background-color: #52b5f1;
}

.wrapper div:nth-child(489) {
  background-color: #0e75ba;
}

.wrapper div:nth-child(490) {
  background-color: #337b5f;
}

.wrapper div:nth-child(491) {
  background-color: #23bdce;
}

.wrapper div:nth-child(492) {
  background-color: #30c4c7;
}

.wrapper div:nth-child(493) {
  background-color: #088d01;
}

.wrapper div:nth-child(494) {
  background-color: #45e51b;
}

.wrapper div:nth-child(495) {
  background-color: #22db28;
}

.wrapper div:nth-child(496) {
  background-color: #6e4fb6;
}

.wrapper div:nth-child(497) {
  background-color: #bae094;
}

.wrapper div:nth-child(498) {
  background-color: #89a0ad;
}

.wrapper div:nth-child(499) {
  background-color: #f1ff97;
}

.wrapper div:nth-child(500) {
  background-color: #551458;
}

.wrapper div:nth-child(501) {
  background-color: #4fe40d;
}

.wrapper div:nth-child(502) {
  background-color: #2d5919;
}

.wrapper div:nth-child(503) {
  background-color: #419d63;
}

.wrapper div:nth-child(504) {
  background-color: #94a7d1;
}

.wrapper div:nth-child(505) {
  background-color: #7234b6;
}

.wrapper div:nth-child(506) {
  background-color: #5d10a4;
}

.wrapper div:nth-child(507) {
  background-color: #99e409;
}

.wrapper div:nth-child(508) {
  background-color: #a32346;
}

.wrapper div:nth-child(509) {
  background-color: #9b3985;
}

.wrapper div:nth-child(510) {
  background-color: #107a81;
}

.wrapper div:nth-child(511) {
  background-color: #ac5db9;
}

.wrapper div:nth-child(512) {
  background-color: #9b84fa;
}

.wrapper div:nth-child(513) {
  background-color: #a46e9d;
}

.wrapper div:nth-child(514) {
  background-color: #709de6;
}

.wrapper div:nth-child(515) {
  background-color: #2344c9;
}

.wrapper div:nth-child(516) {
  background-color: #063cdd;
}

.wrapper div:nth-child(517) {
  background-color: #47eb80;
}

.wrapper div:nth-child(518) {
  background-color: #6871ad;
}

.wrapper div:nth-child(519) {
  background-color: #efd471;
}

.wrapper div:nth-child(520) {
  background-color: #a6716f;
}

.wrapper div:nth-child(521) {
  background-color: #1a1314;
}

.wrapper div:nth-child(522) {
  background-color: #439697;
}

.wrapper div:nth-child(523) {
  background-color: #dba714;
}

.wrapper div:nth-child(524) {
  background-color: #f9f5cf;
}

.wrapper div:nth-child(525) {
  background-color: #8fa2af;
}

.wrapper div:nth-child(526) {
  background-color: #abaeee;
}

.wrapper div:nth-child(527) {
  background-color: #59d0f0;
}

.wrapper div:nth-child(528) {
  background-color: #06b940;
}

.wrapper div:nth-child(529) {
  background-color: #62b903;
}

.wrapper div:nth-child(530) {
  background-color: #a4c59e;
}

.wrapper div:nth-child(531) {
  background-color: #434b1d;
}

.wrapper div:nth-child(532) {
  background-color: #37e3e7;
}

.wrapper div:nth-child(533) {
  background-color: #f52977;
}

.wrapper div:nth-child(534) {
  background-color: #c62390;
}

.wrapper div:nth-child(535) {
  background-color: #934249;
}

.wrapper div:nth-child(536) {
  background-color: #d09fa0;
}

.wrapper div:nth-child(537) {
  background-color: #58620c;
}

.wrapper div:nth-child(538) {
  background-color: #3b2823;
}

.wrapper div:nth-child(539) {
  background-color: #d820ba;
}

.wrapper div:nth-child(540) {
  background-color: #d2b239;
}

.wrapper div:nth-child(541) {
  background-color: #28deee;
}

.wrapper div:nth-child(542) {
  background-color: #52ac78;
}

.wrapper div:nth-child(543) {
  background-color: #059c03;
}

.wrapper div:nth-child(544) {
  background-color: #29c6bd;
}

.wrapper div:nth-child(545) {
  background-color: #e6aff3;
}

.wrapper div:nth-child(546) {
  background-color: #db97fb;
}

.wrapper div:nth-child(547) {
  background-color: #0aecb7;
}

.wrapper div:nth-child(548) {
  background-color: #86e613;
}

.wrapper div:nth-child(549) {
  background-color: #35d0b5;
}

.wrapper div:nth-child(550) {
  background-color: #029038;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
}
.container .wrapper {
  padding-top: 1vw;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 1vw;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.container .wrapper div {
  min-height: 12.5vw;
  border-top: 0;
  border-right: 1vw solid #fff;
  border-bottom: 1vw solid #fff;
  border-left: 0;
  text-align: center;
  font-size: 25px;
  font-family: sans-serif;
  color: #fff;
  font-weight: 700;
  line-height: 12.5vw;
}
.container .wrapper div:not(:empty) {
  position: sticky;
  top: 0;
}
.container .wrapper div:not(:empty).last-big {
  top: 12.5vw;
}
.container .wrapper div.big {
  grid-column-end: span 2;
  grid-row-end: span 2;
  font-size: 30px;
  line-height: 25vw;
}

/*# sourceMappingURL=grid.css.map */
